@using QuanLySanXuat.Entities;
@model QuanLySanXuat.Entities.Vatlieu
@{
    ProductionManagementSoftwareContext _context = new ProductionManagementSoftwareContext();
    List<Nhomvl> nhomvatlieu = _context.Nhomvl.Where(n => n.Active == 1).ToList();
    List<Nuocsx> nuocsx = _context.Nuocsx.Where(n => n.Active == 1).ToList();
    List<Hangsx> hangsanxuat = _context.Hangsx.Where(n => n.Active == 1).ToList();
    List<Vatlieu> vatlieu = _context.Vatlieu.Where(n => n.Active == 1).ToList();

}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Thêm sản phẩm | Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="~/CSS/main.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/mainsub.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
    
</head>

<body class="app sidebar-mini rtl">
    
    <!-- Navbar-->
    <header class="app-header">
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                        aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">


            <!-- User Menu-->
            <li>
                @Html.ActionLink("Quay Lại", "Index", "VatLieu", null, new { @class = "app-nav__item " })


            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar" src="~/Images/hien.jpg" style="width: 50px"
                 alt="User Image">
            <div class="text-white">
                <p class="app-sidebar__user-name"><b>Văn Hiền</b></p>
                <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
            </div>
        </div>
        <hr>
        <ul class="app-menu">
            <li>


                @Html.ActionLink("Đơn Hàng", "DonHang", "Admin", null, new { @class = "app-menu__item haha app-menu__label text-center" })
            </li>
            <li>

                @Html.ActionLink("Bảng Điều Khiển", "Index", "Admin", null, new { @class = "app-menu__item app-menu__label text-center" })
            </li>
            <li>

                @Html.ActionLink("Quản Lý Nhân Viên", "QuanLyNhanVien", "Admin", null, new { @class = "app-menu__item app-menu__label text-center" })
            </li>
            <li>

                @Html.ActionLink("Quản Lý Khách Hàng", "QuanLyKhachHang", "Admin", null, new { @class = "app-menu__item app-menu__label text-center" })
            </li>
            <li>

                @Html.ActionLink("Quản Lý Sản Phẩm", "QuanLySanPham", "Admin", null, new { @class = "app-menu__item app-menu__label text-center active" })
            </li>
            <li>

                @Html.ActionLink("Quản Lý Kho", "Index", "QuanLyTonKho", null, new { @class = "app-menu__item app-menu__label text-center " })
            </li>
            <li>

                @Html.ActionLink("Quản Lý Đơn Hàng", "QuanLyDonHang", "Admin", null, new { @class = "app-menu__item app-menu__label text-center" })
            </li>
            <li>

                @Html.ActionLink("Quản Lý Đội Nhóm", "QuanLyDoiNhom", "Admin", null, new { @class = "app-menu__item app-menu__label text-center" })
            </li>

            <li>

                @Html.ActionLink("Báo Cáo Thống Kê", "BaoCaoDanhThu", "Admin", null, new { @class = "app-menu__item app-menu__label text-center" })
            </li>
        </ul>
    </aside>
    <main class="app-content">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item">Danh sách sản phẩm</li>
                <li class="breadcrumb-item"><a href="#">Thêm sản phẩm</a></li>
            </ul>
            <div class="row ">
                <div class="col-3">
                    @*@Html.ActionLink("Tạo phiếu nhập kho", "QuanLyNhapKho", "QuanLyTonKho", null, new { @class = "btn btn-add" })*@
                    <a asp-action="QuanLyNhapKho" asp-controller="QuanLyTonKho" class="btn btn-add">Tạo phiếu nhập kho</a>
                </div>
                <div class="col-3">
                    <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="fas fa-folder-plus"></i> Thêm nhà cung cấp
                    </a>
                </div>
                <div class="col-3">
                    <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#adddanhmuc">
                        <i class="fas fa-folder-plus"></i> Thêm nhóm sản phẩm
                    </a>
                </div>
                <div class="col-3">
                    <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#addtinhtrang">
                        <i class="fas fa-folder-plus"></i> Thêm hãng sản xuất
                    </a>
                </div>
            </div>
            <div id="clock"></div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <h3 class="tile-title">Tạo mới sản phẩm</h3>
                    <div class="tile-body">

                        <form asp-action="Create" asp-controller="Vatlieu" enctype="multipart/form-data">
                            <div class="row">
                                <div class="form-group col-md-4 col-sm-12">

                                    <label for="exampleSelect1" class="control-label">Hãng sản xuất</label>
                                    <select asp-for="Idhsx" class="form-control" id="exampleSelect1">
                                        <option>-- Chọn hãng sản xuất --</option>
                                        @foreach (var item in hangsanxuat)
                                        {
                                            <option value="@item.Idhsx">@item.Tenhsx</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-4 col-sm-12">

                                    <label for="exampleSelect1" class="control-label">Nhóm vật liệu</label>
                                    <select asp-for="Idnvl" class="form-control" id="exampleSelect1" >
                                        <option>-- Chọn nhóm vật liệu --</option>
                                        @foreach (var item in nhomvatlieu)
                                        {
                                            <option value="@item.Idnvl">@item.Tennvl</option>
                                        }


                                    </select>
                                </div>
                                <div class="form-group col-md-4 col-sm-12">

                                    <label for="exampleSelect1" class="control-label">Nhà cung cấp</label>
                                    <select asp-for="Idnsx" class="form-control" id="exampleSelect1" >
                                        <option>-- Chọn nước sản xuất --</option>
                                        @foreach (var item in nuocsx)
                                        {
                                            <option value="@item.Idnsx">@item.Tennsx</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">

                                    <label class="control-label">Mã vật liệu </label>
                                    <input asp-for="Mavl" class="form-control" type="text" placeholder="" name="Mavl">
                                </div>
                                <div class="form-group col-md-3 col-sm-12">

                                    <label class="control-label">Tên vật liệu</label>
                                    <input asp-for="Tenvl" class="form-control" type="text" name="Tenvl">
                                </div>


                                <div class="form-group col-md-3 col-sm-12">

                                    <label class="control-label">Quy cách</label>
                                    <input asp-for="Quycach" class="form-control" type="text" name="Quycach">
                                </div>
                                @*<div class="form-group col-md-3 col-sm-12">

                                    <label class="control-label">Đơn vị tính</label>
                                    <input class="form-control" type="text" name="Donvitinh">
                                </div>*@


                                <div class="form-group col-md-3 col-sm-12">

                                    <label class="control-label">Giá bán</label>
                                    <input asp-for="Giaban" class="form-control" type="text">
                                </div>
                               
                                @*<div class="form-group col-md-3 col-sm-12">

                                    <label class="control-label">Ảnh sản phẩm</label>
                                    <div id="myfileupload">
                                        <input type="file" id="uploadfile" name="ImageUpload" onchange="readURL(this);" />
                                    </div>
                                    <div id="thumbbox">
                                        <img height="450" width="400" alt="Thumb image" id="thumbimage" style="display: none" />
                                        <a class="removeimg" href="javascript:"></a>
                                    </div>
                                    <div id="boxchoice">
                                        <a href="javascript:" class="Choicefile"><i class="fas fa-cloud-upload-alt"></i> Chọn ảnh</a>
                                        <p style="clear:both"></p>
                                    </div>

                                </div>*@
                            </div>
                            @*<div class="form-group col-md-12">
            <label class="control-label">Mô tả sản phẩm</label>
            <textarea class="form-control" name="mota" id="mota"></textarea>
            <script>CKEDITOR.replace('mota');</script>
        </div>*@

                            @*<button class="btn bg-white text-success" style="border: 1px solid green" type="submit">
            Lưu
            nháp
        </button>*@
                            <button class="btn btn-save w-100" style="float:right" type="submit">Xác nhận nhập</button>
                            <div class="form-group  col-md-12" style="height:20vh; overflow-y:scroll">
                                <h3 class="control-label text-center mt-2 mb-2">Danh sách vật liệu</h3>
                                <ul style="padding-left: 20px;">

                                    @foreach (var item in vatlieu)
                                    {
                                        <li>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    @item.Mavl - @item.Tenvl

                                                </div>
                                                <div class="col-md-4">
                                                    <a asp-action="Edit" class="btn btn-warning" asp-controller="Vatlieu" asp-route-id="@item.Idvl"><i class="fas fa-edit"></i></a>
                                                    <a asp-action="Details" class="btn btn-info " asp-controller="Vatlieu" asp-route-id="@item.Idvl"> <i class="fas fa-info-circle"></i></a>

                                                    <a asp-action="Delete" class="btn btn-danger " asp-controller="Vatlieu" asp-route-id="@item.Idvl"><i class="fas fa-trash-alt"></i></a>
                                                </div>
                                            </div>

                                        </li>



                                    }


                                </ul>
                            </div>
                        </form>

                    </div>
               
                </div>
            </div>
        </div>

    </main>


    <!--
      MODAL Nhà cung cấp
    -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:700px">
            <div class="modal-content " style="width:100%">

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12" style="height:60vh; overflow-y:scroll">

                 
                            <div class="row">
                                <div class="col-4"></div>
                                <h3 class="thong-tin-thanh-toan text-center col-4">Thêm mới nước sản xuất</h3>
                                <span class="col-4" data-dismiss="modal" href="#"><i style="float:right;cursor:pointer" class="fas fa-times"></i></span>
                            </div>
                            @using (Html.BeginForm("Create", "Nuocsx"))
                            {
                                <div class="">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">

                                        <div class="form-group col-md-4 col-sm-12">
                                            <label class="control-label">Mã nước sản xuất</label>
                                            <input class="form-control" type="text" required name="Mansx">
                                        </div>
                                        <div class="form-group col-md-8 col-sm-12">

                                            <label class="control-label">Tên nước sản xuất</label>
                                            <input class="form-control" type="text" required name="Tennsx">
                                        </div>
                                        
                                    </div>
                                </div>

                                <BR>
                                <button class="btn btn-save w-100" style="float:right" type="submit">Lưu lại</button>

                                <BR>
                                <div class="form-group  col-md-12" style="height:20vh; overflow-y:scroll">
                                    <h3 class="control-label text-center mt-2 mb-2">Danh sách nước sản xuất</h3>
                                    <ul style="padding-left: 20px;">

                                        @foreach (var item in nuocsx)
                                        {
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        @item.Mansx - @item.Tennsx

                                                    </div>
                                                    <div class="col-md-4">
                                                        <a asp-action="Edit" class="btn btn-warning" asp-controller="Nuocsx" asp-route-id="@item.Idnsx"><i class="fas fa-edit"></i></a>
                                                        <a asp-action="Details" class="btn btn-info " asp-controller="Nuocsx" asp-route-id="@item.Idnsx"> <i class="fas fa-info-circle"></i></a>

                                                        <a asp-action="Delete" class="btn btn-danger " asp-controller="Nuocsx" asp-route-id="@item.Idnsx"><i class="fas fa-trash-alt"></i></a>
                                                    </div>
                                                </div>

                                            </li>



                                        }


                                    </ul>
                                </div>
                            }
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="adddanhmuc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:700px">
            <div class="modal-content " style="width:100%">

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12">
                            <div class="row">
                                <div class="col-4"></div>
                                <h3 class="thong-tin-thanh-toan text-center col-4">Thêm nhóm vật liệu mới</h3>
                                <span class="col-4" data-dismiss="modal" href="#"><i style="float:right;cursor:pointer" class="fas fa-times"></i></span>
                            </div>

                            @using (Html.BeginForm("Create", "Nhomvatlieu"))
                            {
                                <div class="">

                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="form-group col-md-3 col-sm-12">

                                            <label class="control-label">MÃ NHÓM VẬT LIỆU</label>
                                            <input class="form-control" type="text"  name="Manvl">
                                        </div>
                                        <div class="form-group col-md-5 col-sm-12">

                                            <label class="control-label">TÊN NHÓM VẬT LIỆU</label>
                                            <input class="form-control" type="text" required name="Tennvl">
                                        </div>
                                        <div class="form-group col-md-4 col-sm-12">

                                            <label class="control-label">LOẠI VẬT LIỆU</label>
                                            <input class="form-control" type="text" required name="Loainvl">
                                        </div>
                                    </div>
                                </div>
                                <BR>
                                <button class="btn btn-save w-100 " style="float:right" type="submit">Lưu lại</button>

                                <BR>
                                <div class="form-group  col-md-12" style="height:20vh; overflow-y:scroll">
                                    <h3 class="control-label text-center mt-2 mb-2">Danh sách nhóm sản phẩm hiện dùng</h3>
                                    <ul style="padding-left: 20px;">

                                        @foreach (var item in nhomvatlieu)
                                        {
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        @item.Manvl - @item.Tennvl

                                                    </div>
                                                    <div class="col-md-4">
                                                        <a asp-action="Edit" class="btn btn-warning" asp-controller="Nhomvatlieu" asp-route-id="@item.Idnvl"><i class="fas fa-edit"></i></a>
                                                        <a asp-action="Details" class="btn btn-info " asp-controller="Nhomvatlieu" asp-route-id="@item.Idnvl"> <i class="fas fa-info-circle"></i></a>

                                                        <a asp-action="Delete" class="btn btn-danger" asp-controller="Nhomvatlieu" asp-route-id="@item.Idnvl"><i class="fas fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                        }


                                    </ul>
                                </div>
                            }
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!--
    MODAL
    -->
    <!--
      MODAL HÃNG
    -->
    <div class="modal fade" id="addtinhtrang" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:700px">
            <div class="modal-content " style="width:100%">

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12" style="height:60vh; overflow-y:scroll">

                            <div class="row">
                                <div class="col-4"></div>
                                <h3 class="thong-tin-thanh-toan text-center col-4">Thêm hãng mới</h3>
                                <span class="col-4" data-dismiss="modal" href="#"><i style="float:right;cursor:pointer" class="fas fa-times"></i></span>
                            </div>
                            @using (Html.BeginForm("Create", "Hangsanxuat"))
                            {
                                <div class="">

                                    <div class="row">
                                        <div class="form-group col-md-4 col-sm-12">
                                            <label class="control-label">Nhập mã hãng</label>
                                            <input class="form-control w-100" type="text"  name="Mahsx">
                                        </div>
                                        <div class="form-group col-md-8 col-sm-12">

                                            <label class="control-label">Nhập tên hãng</label>
                                            <input class="form-control" type="text" required name="Tenhsx">
                                        </div>
                                    </div>
                                </div>
                                <BR>
                                <button class="btn btn-save w-100" style="float:right" type="submit">Lưu lại</button>

                                <BR>
                                <div class="form-group  col-md-12" style="height:30vh; overflow-y:scroll">
                                    <h3 class="control-label text-center mt-2 mb-2">Danh sách hãng sản xuất hiện dùng</h3>
                                    <ul style="padding-left: 20px;">

                                        @foreach (var item in hangsanxuat)
                                        {
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        @item.Mahsx - @item.Tenhsx

                                                    </div>
                                                    <div class="col-md-4">
                                                        <a asp-action="Edit" class="btn btn-warning " asp-controller="Hangsanxuat" asp-route-id="@item.Idhsx"><i class="fas fa-edit"></i></a>
                                                        <a asp-action="Details" class="btn btn-info " asp-controller="Hangsanxuat" asp-route-id="@item.Idhsx"> <i class="fas fa-info-circle"></i></a>

                                                        <a asp-action="Delete" class="btn btn-danger " asp-controller="Hangsanxuat" asp-route-id="@item.Idhsx"><i class="fas fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                            </li>

                                        }


                                    </ul>
                                </div>
                            }
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--
    MODAL
    -->




    <script src="~/Javascript/plugins/pace.min.js"></script>
    <script src="~/Javascript/jquery-3.2.1.min.js"></script>
    <script src="~/Javascript/popper.min.js"></script>
    <script src="~/Javascript/bootstrap.min.js"></script>
    <script src="~/Javascript/main.js"></script>

    <script>
        const inpFile = document.getElementById("inpFile");
        const loadFile = document.getElementById("loadFile");
        const previewContainer = document.getElementById("imagePreview");
        const previewContainer = document.getElementById("imagePreview");
        const previewImage = previewContainer.querySelector(".image-preview__image");
        const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");
        inpFile.addEventListener("change", function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                previewDefaultText.style.display = "none";
                previewImage.style.display = "block";
                reader.addEventListener("load", function () {
                    previewImage.setAttribute("src", this.result);
                });
                reader.readAsDataURL(file);
            }
        });

    </script>
</body>

</html>