@model IEnumerable<QuanLySanXuat.Entities.Nhanvien>

@{
    Layout = "_Layout";

}
<div class="d-flex">
    <h2>Quản Lý Nhân Viên</h2>
    <div class="col-md-3 col-sm-12">
        <a href="/Nhanvien/Create" class="btn p-2" style="background-color: #EDEDED; color: #73879C; font-size:17px">
            <i class="fas fa-plus"></i>Thêm mới
        </a>
        <a href="/Nhanvien/ExportToExcel" class="btn ml-2 p-2" style="background-color: #EDEDED; color: #73879C; font-size: 17px ">
            <i class="fas fa-file-excel"></i>
        </a>
        <a href="/Nhanvien/ExportToPDF" class="btn ml-2 p-2" style="background-color: #EDEDED; color: #73879C; font-size: 17px ">
            <i class="fas fa-file-pdf"></i>
        </a>
        <a href="/Nhanvien/ExportToCSV" class="btn ml-2 p-2" style="background-color: #EDEDED; color: #73879C; font-size: 17px ">
            <i class="fas fa-file-csv"></i>
        </a>
    </div>


    <div class="col-md-3 col-sm-12">
        <form asp-action="Import" asp-controller="Nhanvien" method="post" enctype="multipart/form-data">
            <div class=" d-flex">
                @*<label for="fileExcel"  class="btn  ">Chọn file Excel</label>*@
                <input id="fileExcel" class="" required type="file" name="file" />
                <button class="btn" style="background-color: #EDEDED; color: #73879C; font-size: 17px " type="submit"><i class="fas fa-upload"></i></button>
            </div>

        </form>

    </div>
</div>



<div class="x_content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">


                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                       cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Mã nhân viên</th>
                            <th>Họ và tên</th>
                            <th>CCCD/CMND</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th>Số điện thoại</th>
                            <th>Mã số thuế</th>
                            <th>Giới tính</th>
                            <th>Ngày sinh</th>
                            @*<th>FACEBOOK</th>
                                <th>Zalo</th>*@
                            @*<th>Tính năng</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-none">
                            <td>.</td>
                            <td>.</td>
                            <td>.</td>
                            <td>.</td>
                            <td>.</td>
                            <td>.</td>
                            <td>.</td>
                            <td>.</td>
                            <td>.</td>
                            @*<td>.</td>
                                <td>.</td>*@

                        </tr>
                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>@item.Manv</td>
                        <td>@item.Tennv</td>
                        <td>@item.Cccd</td>
                        <td>@item.Email</td>
                        <td>@item.Diachi</td>
                        <td>@item.Sdt</td>
                        <td>@item.Masothue</td>
                        <td>@item.Gioitinh</td>
                        @{
                            DateTime Ngaysinh = item.Ngaysinh;
                        }
                        <td>@Ngaysinh.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>

                        @*<td>
            <a href="@item.Facebook" class="text-info">@item.Facebook</a>
        </td>
        <td>
            <a href="@item.Zalo" class="text-info">@item.Zalo</a>
        </td>*@

                        <td class="table-td-center">
                            <a asp-action="Details" class="btn btn-sm  btn-info" asp-route-id="@item.Idnv"><i class="fas fa-info text-white"></i></a>
                            <a asp-action="Edit" class="btn btn-sm  btn-warning " asp-route-id="@item.Idnv"><i class="fas fa-edit text-white"></i></a>
                            <a asp-action="Delete" class="btn btn-sm  btn-danger " asp-route-id="@item.Idnv"><i class="fas fa-trash-alt text-white"></i></a>

                        </td>
                    </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
               


