@model QuanLySanXuat.Entities.Noidungpbh
@using QuanLySanXuat.Entities;

@{
    Layout = "_LayoutPhieuBan";
    ProductionManagementSoftwareContext _context = new ProductionManagementSoftwareContext();


    int id = ViewBag.Idpbh;
    Phieubanhang phieubanhang = TempData["phieubanhang"] as Phieubanhang;
    //Phieubanhang phieubanhang = _context.Phieubanhang.Where(active => active.Idpbh == id).Where(active => active.Active == 1).FirstOrDefault();
    List<Vatlieu> vatlieu = _context.Vatlieu.Where(active => active.Active == 1).ToList();
    List<Khachhang> khachhang = _context.Khachhang.Where(n => n.Active == 1).ToList();
    List<Hinhthucthanhtoan> httt = _context.Hinhthucthanhtoan.Where(n => n.Active == 1).ToList();


    List<Phieuthunokh> phieuthunokh = _context.Phieuthunokh.Where(n => n.Active == 1).ToList();

}

<ul class="tabs row text-center">
    <li class="tab-link  col-md-6 current" data-tab="tab-1">Nội Dung Phiếu Bán Hàng #@phieubanhang.Sophieu</li>

    <li class="tab-link  col-md-6" data-tab="tab-2">Thu Nợ Khách Hàng #@phieubanhang.Sophieu</li>

</ul>
<div id="tab-1" class="tab-content current">
    <form id="formNdpbh" asp-action="Actions" asp-controller="Phieubanhang" method="post">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <input id="Idndpbh" name="phieubanhang" type="hidden" />
        <input id="Idpbh" value="@phieubanhang.Idpbh" type="hidden" />

        <input type="hidden" name="Idpbh" id="Idpbh" asp-for="Idpbh" value="@phieubanhang.Idpbh" />
        <input id="Thue" type="hidden" />

        <div class="bg-light p-1 border border-secondary rounded ">
            <div class="row">

                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Số phiếu
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input readonly value="@phieubanhang.Sophieu" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Ngày Lập
                        </div>
                        <div class="col-md-8 col-sm-12">
                            @if (phieubanhang.Ngayhd != null)
                            {
                                DateTime Ngaylap = phieubanhang.Ngaylap;
                                <input readonly class="form-control" value="@Ngaylap.ToString("dd/MM/yyyy hh:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture)" />

                            }
                            else
                            {
                                <input readonly value="@phieubanhang.Ngaylap" class="form-control" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-sm-12">
                            KH
                        </div>
                        <div class="col-md-10 col-sm-12">
                            @*<select id="multipleSelect" asp-for="@phieubanhang.Idkh" placeholder="Chọn vật liệu muốn nhập kho" data-search="true"
                                        data-silent-initial-value-set="true">
                                    @foreach (var item in nhacungcap)
                                    {
                                        <option value="@item.Idkh">@item.Tenkh</option>
                                    }

                                </select>*@
                            <input readonly value="@phieubanhang.IdkhNavigation.Tenkh" class="form-control" />

                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-2">
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Số HĐ
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input readonly type="text" value="@phieubanhang.Sohd" class="form-control">

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Ngày HĐ
                        </div>
                        <div class="col-md-8 col-sm-12">
                            @if (phieubanhang.Ngayhd != null)
                            {
                                DateTime Ngayhd = (DateTime)phieubanhang.Ngayhd;
                                <input readonly class="form-control" value="@Ngayhd.ToString("dd/MM/yyyy hh:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture)" />

                            }
                            else
                            {
                                <input readonly class="form-control" value="@phieubanhang.Ngayhd" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-sm-12">
                            Ghi Chú
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <textarea readonly value="@phieubanhang.Ghichu" id="" row="" style="height:10px;" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-light p-1 border border-secondary rounded mt-2 ">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-sm-12">
                            Hàng hóa
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <select id="multipleSelect" class="Tenvl Idvl filterProduct" data-search="true"
                                    data-silent-initial-value-set="true">
                                @*@*<option disabled >---Chọn vật liệu muốn bán---</option>*@
                                @foreach (var item in vatlieu)
                                {
                                    <option value="@item.Idvl-@item.Mavl">@item.Tenvl</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            S.Lượng
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input type="number" readonly id="Count" oninput="ValidateIsNaN()" onblur="myFunction()" placeholder="0.0" class="form-control">
                            <input type="hidden" asp-for="Soluong" id="Soluong" placeholder="0.0" class="form-control">
                            <span asp-validation-for="Soluong" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-12">
                            Đơn Giá
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <input class="form-control" readonly placeholder="0.0" inputmode="numeric" onfocus="this.value=''" type="text" id="Gianhap" oninput="ValidateIsNaN()"
                                   onblur="myFunction()" />
                            <input class="form-control" placeholder="0.0" asp-for="Dongia" inputmode="numeric" type="hidden" id="Dongia" />

                            <span asp-validation-for="Dongia" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <input id="action" type="hidden" name="action" />
                <div class="col-md-1 col-sm-12">
                    <input type="hidden" name="IdpbhSearch" value="@phieubanhang.Idpbh" />
                    <input type="hidden" name="searchString" id="searchStringAdd" />
                    <input type="hidden" name="searchIdvl" id="searchIdvlAdd" />
                    <button disabled type="submit" style="float: right;" class="btn btn-primary w-100" id="btnAddNDPBH">Thêm</button>
                    <div class="d-flex">
                        <button type="button" style="display:none;" class="btn btn-light w-50" id="btnCancelNDPBH">Hủy</button>
                        <button type="submit" class="btn btn-primary w-50" id="btnUpdateNDPBH" style="display:none; float: right;">Cập nhật</button>
                    </div>

                </div>
            </div>
            <input type="hidden" id="Idvl" name="Idvl" />
            <div class="row mt-2">




                @*<div class="col-md-3 col-sm-12">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-3 col-sm-12">
                                Th.Tiền
                            </div>
                            <div class="col-md-9 col-sm-12">
                                <input class="form-control" readonly type="text" id="Thanhtien" placeholder="0.0" />
                                <input class="form-control" type="hidden" id="Tongtien" />
                            </div>
                        </div>
                    </div>*@

            </div>
            <input type="hidden" id="hfRowIndex" value="" />

            <div class=" mt-2" style="max-height:33vh;overflow-y:scroll">
                <table class="table table-striped table-bordered text-center">

                    <thead>
                        <tr class="text-center">
                            <th>Số lô</th>
                            <th scope="col">Tên hàng hóa</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">ĐVT</th>
                            <th scope="col">Ngày SX</th>
                            <th scope="col">Hạn SX</th>

                        </tr>
                    </thead>
                    @if (TempData["VatlieuSearch"] != null)
                    {
                        foreach (var item in TempData["VatlieuSearch"] as List<Noidungpnk>)
                        {
                            <tr class="tr">
                                <td>@item.Solo</td>
                                <td>@item.IdvlNavigation.Tenvl</td>
                                <td>@item.Soluong</td>
                                <td>@item.Donvitinh</td>

                                @if (item.Ngaysx != null || item.Hansd != null)
                                {
                                    DateTime Ngaysx = (DateTime)item.Ngaysx;
                                    DateTime Hansd = (DateTime)item.Hansd;
                                    <td>@Ngaysx.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>
                                    <td>@Hansd.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                }
                            </tr>
                        }
                    }

                </table>
            </div>


        </div>

    </form>

    <div id="tblNhapKho" class="bg-light p-1 border border-secondary rounded mt-2" style="max-height:33vh;overflow-y:scroll">
        <table id="grid-pnks" class="table table-striped table-bordered text-center">

            <thead>
                <tr class="text-center">

                    <th scope="col">Tên hàng hóa</th>
                    <th scope="col">Số lượng</th>
                    @*<th scope="col">ĐVT</th>*@
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Thành tiền</th>
                    <th scope="col" style="width:35px"></th>
                </tr>
            </thead>
            @foreach (var item in TempData["noidungphieubanhang"] as List<Noidungpbh>)
            {
                <tr class="trNDPBH">

                    <td>@item.IdvlNavigation.Tenvl</td>
                    <td class="SL">@item.Soluong</td>
                    @*<td>@item.Donvitinh</td>*@

                    @{
                        var Dongia = String.Format("{0:0,0}", (@item.Dongia));
                        var ThanhTien = String.Format("{0:0,0}", (@item.Soluong * @item.Dongia));
                    }
                    <td class="Gia">@Dongia</td>
                    <td>@ThanhTien</td>

                    <td class="d-none">@item.Idndpbh</td>


                    <td class="table-td-center d-flex">

                        <a class="btn  btn-sm btn-warning " onclick="onEditNDPBH(this)"><i class="fas fa-edit text-white"></i></a>
                        <form class="formDelete" asp-action="Delete" asp-route-id="@item.Idndpbh" asp-controller="Noidungphieubanhang">

                            <button type="submit" class="btn  btn-sm btn-danger "><i class="fas fa-trash text-white"></i></button>
                        </form>

                    </td>

                </tr>
            }
        </table>
    </div>
    <div onload="totalBill()" class="bg-light p-1 border border-secondary rounded mt-2">
        <!--<div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="row d-flex align-items-center">
                <div class="col-md-4 col-sm-12">
                    Tiền hàng
                </div>
                <div class="col-md-8 col-sm-12">
                    <input readonly id="total" value="" placeholder="0" class="form-control">
                    <input readonly id="totalReal" type="hidden" value="" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="row d-flex align-items-center">
                <div class="col-md-4 col-sm-12">
                    VAT(%)
                </div>
                <div class="col-md-8 col-sm-12">
                    <input readonly id="VAT" type="number" oninput="showTotalAmount()" placeholder="Thuế giá trị gia tăng" class="form-control">

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="row d-flex align-items-center">
                <div class="col-md-4 col-sm-12">
                    Tiền thuế
                </div>
                <div class="col-md-8 col-sm-12">
                    <input readonly id="TienThue" placeholder="0" class="form-control">-->
        @*<input readonly id="TienThueThuc" type="hidden" placeholder="Tiền thuế" class="form-control">*@
        <!--</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-3 col-sm-12">
                        T.Tiền
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <input readonly id="totalAmount" placeholder="0" class="form-control">
                        <input readonly id="totalAmountReal" type="hidden" class="form-control">

                    </div>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-4 col-sm-12">
                        Tiền hàng
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input readonly id="total" value="" placeholder="0" class="form-control">
                        <input readonly id="totalReal" type="hidden" value="" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-3 col-sm-12">
                        VAT(%)
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <input id="VAT" type="number" oninput="showTotalAmount();checkFloatingPoint()" placeholder="Thuế GTGT" class="form-control">

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-3 col-sm-12">
                        Tiền thuế
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <input readonly id="TienThue" placeholder="0" class="form-control">
                        @*<input readonly id="TienThueThuc" type="hidden" placeholder="Tiền thuế" class="form-control">*@
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-2 col-sm-12">
                        T.Tiền
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <input readonly id="totalAmount" placeholder="0" class="form-control">
                        <input readonly id="totalAmountReal" type="hidden" class="form-control">

                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="row mt-2 flex-row-reverse">

        <div class="col-md-3 col-sm-12">
            <a href="/Phieubanhang/Index" class="btn btn-light w-100">Quay lại</a>
        </div>


    </div>



</div>




<div id="tab-2" class="tab-content ">
    <div class="bg-light p-1  border border-secondary rounded">
        <form id="createPTNKH" asp-action="CreateOrEdit" asp-controller="Noidungthunokh">

            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-12">
                            Hình thức
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <select id="selectDefault" name="Idhttt" >

                                @foreach (var item in httt)
                                {
                                    <option value="@item.Idhttt">@item.Tenhttt</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-1 col-sm-12">
                            Ghi chú
                        </div>
                        <div class="col-md-11 col-sm-12" @*style="flex: 0 0 auto; width: 90.33333333%; margin-left:10px"*@>
                            <textarea name="Ghichu" onfocus="this.value=''" row="" style="height:10px;" class="form-control"></textarea>

                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-12">

                    <input type="hidden" name="action" value="createPTNKH" />
                    <input type="hidden" name="Idpbh" value="@phieubanhang.Idpbh" />
                    <input type="hidden" name="SoPhieuBH" value="@phieubanhang.Sophieu" />
                    <input type="submit" id="TaoPhieu" value="Tạo Phiếu" class="btn btn-primary w-100" />

                </div>
            </div>
        </form>
    </div>
    <form asp-action="CreateOrEdit" asp-controller="Noidungthunokh" id="formNDTNKH" method="post" onsubmit="return checkInputNdptn()">
        <input type="hidden" name="Idpbh" value="@phieubanhang.Idpbh" />
        <input type="hidden" name="Idndptnkh" id="IdntnkhEdit" />

        <div class="bg-light p-1 mt-2  border border-secondary rounded">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-12">
                            Số Tiền
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <input id="SotienNdptn" onfocus="this.value=''"  onchange="changeSotienNdptn()" oninput="checkSotienThuNoKH();" type="text" class="form-control">
                            <input name="Sotien" id="SotienNdptnthuc" type="hidden" class="form-control">
                            <span id="checkSotienNdptn" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-12">
                            P.Thu Nợ
                        </div>
                        <div class="col-md-9 col-sm-12">
                            @if (TempData["Idptnkh"] != null && TempData["SophieuTNKH"] != null)
                            {


                                <input id="SoPhieuThu" readonly value="@TempData["SophieuTNKH"]" class="form-control">
                                <input name="Idptnkh" id="Idptnkh" value="@TempData["Idptnkh"]" type="hidden" class="form-control">
                            }
                            else
                            {
                                <input id="SoPhieuThu" readonly name="SoPhieu" class="form-control">
                                <input id="Idptnkh" type="hidden" name="Idptnkh" class="form-control">

                            }
                            @*<div class="col-md-12 col-sm-12">
                                    <select id="multipleSelect" name="Idptnkh" class="" data-search="true"
                                            data-silent-initial-value-set="true">
                                        @foreach (var item in phieuthunokh)
                                        {
                                            <option value="@item.Idptnkh">@item.Sophieu</option>
                                        }

                                    </select>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-12">
                            Ngày Thu
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <input readonly type="datetime-local" id="Ngaythuno" name="Ngaythuno" class="form-control" />


                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-12">
                            G.Chú
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <textarea name="Ghichu" id="GhichuNdpt" maxlength="4000" onfocus="this.value=''" row="" style="height:10px;" class="form-control"></textarea>


                        </div>
                    </div>
                </div>


            </div>
            <div class="row flex-md-row-reverse mt-2">
                <div class="col-md-3 col-sm-12 ">
                    <input id="actionNd" type="hidden" name="action" />
                    <button type="submit" style="float: right;" class="btn btn-primary w-50" id="btnAddNdptnPBH">Thu Nợ</button>
                    <button type="submit" style="float: right; display:none" class="btn btn-primary w-50" id="btnFinishNdptnPBH">Đã thanh toán</button>

                    <div class="d-flex">
                        <button type="button" style="display:none;" class="btn btn-light w-50" id="btnCancelNdptnPBH">Hủy</button>
                        <button type="submit" class="btn btn-primary w-50" id="btnUpdateNdptnPBH" style="display:none; float: right;">
                            Cập
                            nhật
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="bg-light p-1 border border-secondary rounded mt-2">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Nhân viên thu</th>
                    <th scope="col">Số tiền(đ)</th>
                    <th scope="col">Ngày trả nợ</th>
                    <th scope="col">Ghi chú</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in TempData["noidungphieuthunokh"] as List<Noidungthunokh>)
                {
                    <tr class="trNDTNKH">
                        <th scope="row">@item.IdpbhNavigation.IdnvNavigation.Tennv</th>
                        @{
                            var Sotien = String.Format("{0:0,0}", (@item.Sotien));
                        }
                        <td>@Sotien</td>
                        @if (item.Ngaythuno != null)
                        {
                            DateTime Ngaytn = (DateTime)item.Ngaythuno;
                            <td>@Ngaytn.ToString("dd/MM/yyyy hh:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                            <td class="d-none">@Ngaytn.ToString("yyyy-MM-dd HH:mm:ss.fff", System.Globalization.CultureInfo.InvariantCulture)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@item.Ghichu</td>
                        <td class="d-none">@item.Idndptnkh</td>
                        <td class="d-none sophieu">@item.IdptnkhNavigation.Sophieu</td>
                        <td class="d-none idptnkh">@item.IdptnkhNavigation.Idptnkh</td>

                        <td class="table-td-center d-flex">
                            <a class="btn  btn-sm btn-warning " onclick="onEditNdptnKH(this)"><i class="fas fa-edit text-white"></i></a>
                            <form class="formDelete" asp-action="Delete" asp-route-id="@item.Idndptnkh" asp-controller="NoidungthunoKH">
                                <button type="submit" onclick="KeepPage()" class="btn  btn-sm btn-danger "><i class="fas fa-trash text-white"></i></button>
                            </form>

                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>
<form id="formSearchProduct" asp-action="SearchProduct" asp-controller="Phieubanhang" method="post">
    <input type="hidden" name="IdpbhSearch" id="IdpbhSearch" value="@phieubanhang.Idpbh" />
    <input type="hidden" name="searchString" id="searchString" />
    <input type="hidden" name="searchIdvl" id="searchIdvl" />

</form>


<script>
    const SoTienInput = document.getElementById("SotienNdptn");

    SoTienInput.addEventListener("focus", getSoPhieu);
    function getSoPhieu() {
        let SoPhieuThu = document.getElementById("SoPhieuThu");
        let Idptnkh = document.getElementById("Idptnkh");

        let SoPhieuThuSession = sessionStorage.getItem("SoPhieuThu");
        let IdptnkhSession = sessionStorage.getItem("Idptnkh");

        if (SoPhieuThuSession != null && Idptnkh != null) {
            SoPhieuThu.value = SoPhieuThuSession;
            Idptnkh.value = IdptnkhSession;
        }
        let sophieu = document.querySelectorAll(".sophieu");
        let idptnkh = document.querySelectorAll(".idptnkh");
        if (sophieu != null && idptnkh != null) {
            SoPhieuThu.value = sophieu[0].innerText;
            Idptnkh.value = idptnkh[0].innerText;
        }

    }
    window.addEventListener("load", function (e) {
        let SoPhieuThu = document.getElementById("SoPhieuThu");
        let Idptnkh = document.getElementById("Idptnkh");

        //if (SoPhieuThu.value != null && Idptnkh.value != null) {
        //    sessionStorage.setItem("SoPhieuThu", SoPhieuThu.value);
        //    sessionStorage.setItem("Idptnkh", Idptnkh.value);

        //}
        let SoPhieuThuSession = sessionStorage.getItem("SoPhieuThu");
        let IdptnkhSession = sessionStorage.getItem("Idptnkh");

        if (SoPhieuThuSession != null && Idptnkh != null) {
            SoPhieuThu.value = SoPhieuThuSession;
            Idptnkh.value = IdptnkhSession;
        }
    });
</script>
<script>



    const noClick = document.getElementById("noClick");

    //dùng khi edit, selected theo giá trị
    window.addEventListener("load", function (e) {


        showTotalAmount();

    });
    window.addEventListener("load", function (e) {
        let selectTagText = document.querySelector(".vscomp-value");
 /*       let textDefault = this.document.querySelector(".disabled");*/
        selectTagText.innerText = "--- Chọn vật liệu muốn bán ---";
        deteleSelected();
        changeSelectAndSubmit();

    });

    function deteleSelected() {
        sessionSelected = sessionStorage.getItem("selected");
        if (sessionSelected != null) {
            let selected = sessionSelected
            let splitString = selected.split("-");
            let product = splitString[0];
            let IdvlInput = document.getElementById("Idvl");
            IdvlInput.value = product;
        }

        let listOption = document.querySelectorAll(".vscomp-option");

        listOption.forEach(function (option) {
            if (option.classList.contains("selected")) {

                option.classList.remove("selected");
                console.log(option);
            }
        });
    };
    function changeSelectAndSubmit() {
        let listOption = document.querySelectorAll(".vscomp-option");
        let selectedText = document.querySelectorAll(".vscomp-option-text");
        listOption.forEach(function (option, index) {
            option.addEventListener("click", function () {
                    option.classList.add("selected");
                let formSearchProduct = document.getElementById("formSearchProduct");
                let searchString = document.getElementById("searchString");
                let searchStringAdd = document.getElementById("searchStringAdd");
                //let searchStringDel = document.getElementById("searchStringDel");
                let searchIdvl = document.getElementById("searchIdvl");
                let searchIdvlAdd = document.getElementById("searchIdvlAdd");
                //let searchIdvlDel = document.getElementById("searchIdvlDel");
                let searchIdvlCreate = document.getElementById("searchIdvlCreate");
                //let IdvlNd = document.getElementById("IdvlNd");
                let selectedValue = option.getAttribute("data-value");// id-ma
                    //alert("option.getAttribute('data - value'):" + option.getAttribute('data-value'));

                    let splitString = selectedValue.split("-");
                    //alert(selectedValue);

                    let Idvl = splitString[0];// lấy Idvl
                let Mavl = splitString[1];// lấy Mavl
                let Tenvl = selectedText[index].innerText;

                searchString.value = Mavl;
                searchStringAdd.value = Mavl;


                searchIdvl.value = Idvl;
                searchIdvlAdd.value = Idvl;
                //alert("searchStringAdd: " + searchStringAdd.value);
                //alert("searchIdvlAdd: " + searchIdvlAdd.value);
                //alert("Mavl: " + Mavl);
                if (!option.classList.contains("disabled") && selectedValue.includes("-") ){
                    sessionStorage.setItem("selected", selectedValue);
                    sessionStorage.setItem("Tenvl", Tenvl);

                    formSearchProduct.submit();
                }



            });
        });

    }






    @*$(document).ready(function () {
        //Filter ListProduct
        $(".filterProduct").on("change", function() {
            var id = document.getElementById("Idpbh");
            var productCode = FilterProduct();

            //var url = '@Url.Action("SearchAndDetails", "Phieubanhang")' + '/' + Idpbh;
            var url = '@Url.Action("SearchAndDetails", "Phieubanhang")';
            $.ajax({
                type: 'GET',
                url: url,
                contentType: false,
                processData: false,
                cache: false,
                data: {id: id, productCode: productCode},
                    dataType: 'json',
                    success: function(data) {

                        console.log("SUCCESS : ", data);

                        alert("thành công");

                    },
                    error: function (e) {

                        alert("thất bại");
                        console.log("ERROR : ", e);
                    }
                });
            });*@
            // GET BY ID
            @*$(".btn-get-student").on("click", function() {
                var formData = new FormData();
                var studentid = $(this).attr("data-studentid");
                var url = '@Url.Action("GetDetailsById", "Home")' + '/' + studentid;
                $.ajax({
                    type: 'GET',
                    url: url,
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: formData,
                    success: function(response) {
                        if (response.responseCode == 0) {
                            var student = JSON.parse(response.responseMessage);
                            $("#email").val(student.Email);
                            $("#name").val(student.Name);
                            $("#hdn-student-id").val(student.Id);

                        }
                        else {
                            bootbox.alert(response.ResponseMessage);
                        }
                    },
                    error: errorCallback
                });
            });
            //SAVE
            $("#btn-insert-student").on("click", function() {
                var formData = new FormData();
                formData.append("name", $("#name").val());
                formData.append("email", $("#email").val());
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("InsertStudent", "Home")',
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: formData,
                    success: successCallback,
                    error: errorCallback
                });
            });
            // UPDATE
            $("#btn-update-student").on("click", function() {
                var formData = new FormData();
                formData.append("id", $("#hdn-student-id").val());
                formData.append("name", $("#name").val());
                formData.append("email", $("#email").val());
                $.ajax({
                    type: 'PUT',
                    url: '@Url.Action("UpdateStudent", "Home")',
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: formData,
                    success: successCallback,
                    error: errorCallback
                });
            });
            //DELETE
            $("#btn-delete-student").on("click", function() {
                var formData = new FormData();
                formData.append("id", $("#hdn-student-id").val());
                $.ajax({
                    type: 'DELETE',
                    url: '@Url.Action("DeleteStudent", "Home")',
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: formData,
                    success: successCallback,
                    error: errorCallback
                });
            });
            function resetForm() {
                $("#hdn-student-id").val("");
                $("#name").val("");
                $("#email").val("");
            }
            function errorCallback() {
                bootbox.alert("Something went wrong please contact admin.");
            }
            function successCallback(response) {
                if (response.responseCode == 0) {
                    resetForm();
                    bootbox.alert(response.responseMessage, function() {

                        //PERFORM REMAINING LOGIC
                    });
                }
                else {
                    bootbox.alert(response.ResponseMessage);
                }
            };*@
        //});
</script>
<script>


    function KeepPage() {
        let tab1 = document.querySelector("#tab-1");
        let tab2 = document.querySelector("#tab-2");

        if (tab1.classList.contains("current")) {
            tab1.classList.remove("current");
            tab2.classList.add("current");
        }

    }

    //Button Delete
    let deleteBtns = document.querySelectorAll('.formDelete');
    deleteBtns.forEach(function (deleteBtn) {
        deleteBtn.addEventListener('submit', function (e) {

            var form = this;

            e.preventDefault();

            swal({
                title: 'Bạn có chắc chắn muốn xóa?',

                icon: 'warning',
                buttons: ['Hủy bỏ!', 'Xác nhận'],
                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {


                    KeepPage();
                    swal({
                        title: 'Đã xóa!',
                        icon: 'success',
                        timer: 1500,
                        button: false,
                    });
                    form.submit()

                } else {
                    swal({
                        title: 'Đã hủy!',
                        button: false,
                        icon: 'error',
                        timer: 500,
                    });
                }
            });
        });
    })




</script>

<script>
    //Nội dung phiếu bán hàng
    let btnAddNDPBH = document.getElementById("btnAddNdptnPBH");
    let btnUpdateNDPBH = document.getElementById("btnCancelNdptnPBH");
    let btnCancelNDPBH = document.getElementById("btnUpdateNdptnPBH");
    let btnFinishNdptnPBH = document.getElementById("btnFinishNdptnPBH");
    btnCancelNDPBH.addEventListener("click", function () {
        btnUpdateNDPBH.style.display = "none";
        btnCancelNDPBH.style.display = "none";
        btnAddNDPBH.style.display = "block";
    })
   

    let action = document.getElementById("actionNd");

    let TaoPhieu = document.getElementById("TaoPhieu");

    btnAddNDPBH.addEventListener("click", function () {
        action.value = "addItem";
    })
    btnUpdateNDPBH.addEventListener("click", function () {
        action.value = "editItem";
    })
    TaoPhieu.addEventListener("click", function () {
        action.value = "TaoPhieu";
    })
    btnFinishNdptnPBH.addEventListener("click", function () {
       
        action.value = "finish";
    })


    function onEditNDPBH(td) {

        selectedRow = td.parentElement.parentElement;
        document.getElementById("Sotien").value = selectedRow.cells[1].innerHTML;
        var Ngaytra = selectedRow.cells[2].innerHTML;

        document.getElementById("Ngaytra").value = Ngaytra;
        document.getElementById("Ghichu").value = selectedRow.cells[3].innerHTML;
        document.getElementById("Idvl").value = selectedRow.cells[4].innerHTML;


        btnAddNDPBH.style.display = "none";
        btnUpdateNDPBH.style.display = "block";
        btnCancelNDPBH.style.display = "block";

    }
    btnUpdateNDPBH.addEventListener("click", function () {
        btnAddNDPBH.style.display = "block";
        btnUpdateNDPBH.style.display = "none";
        btnCancelNDPBH.style.display = "none";

    })




</script>

<script>
    const showTotalAmount = function () {


        let TienHang = 0;
        let tr = document.querySelectorAll(".trNDPBH");
        let totalAmountElement = document.getElementById("totalAmount");
        let vatElement = document.getElementById("VAT");
        let TienThue = document.getElementById("TienThue");
        let total = document.getElementById("total");
        let totalReal = document.getElementById("totalReal");
        let totalAmount = document.getElementById("totalAmount");
        let totalAmountReal = document.getElementById("totalAmountReal");
        for (let i = 0; i <= tr.length - 1; i++) {
            let SL = tr[i].children[1].innerText;

            if (SL.includes(",")) {
                SL = Number(parseFloat((parseFloat(SL).toFixed(2)).replace(",", ".")));
                alert("Number(parseFloat((parseFloat(SL).toFixed(2)).replace" + Number(parseFloat((parseFloat(SL).toFixed(2)).replace(",", "."))));
                alert("parseFloat(SL).toFixed(2)) " + parseFloat(SL).toFixed(2));
                alert("parseFloat(SL).toFixed(2)).replace " + parseFloat(SL).toFixed(2)).replace(",", ".");

            } else {
                SL = Number(parseFloat(SL));
            }

            let Price = Number(parseFloat((tr[i].children[2].innerText).replaceAll(",", "")));
            //alert("Price " + Number(parseFloat((tr[i].children[2].innerText).replaceAll(",", ""))));
            TienHang += SL * Price;
            //alert("TienHang " + TienHang);
            //alert("type TienHang " + typeof (TienHang));

        }
        Formater = new Intl.NumberFormat('vi-VN');
        let TienHangFormated = (Formater.format(TienHang)).replaceAll(".", ",");

        total.value = TienHangFormated;
        totalReal.value = TienHang;
        if ((vatElement.value) != "") {

            let VAT = (Number(vatElement.value) * TienHang) / 100;
            TienThue.value = (Formater.format(VAT)).replaceAll(".", ",");

            totalAmount.value = (Formater.format(TienHang + VAT)).replaceAll(".", ",");
            totalAmountReal.value = (Formater.format(TienHang + VAT)).replaceAll(".", "");
        } else {
            totalAmount.value = TienHangFormated;
            totalAmountReal.value = TienHang;
        }


    }
    function checkFloatingPoint() {
        let vatInput = document.getElementById("VAT");
        let vatValue = vatInput.value;
        if (vatValue.includes(",") || vatValue.includes(".")) {
            vatValue = vatValue.slice(0, vatValue.length - 1);
        }
    }
</script>
<script>
    //Nội dung thu nợ


    const changeSotienNdptn = function () {
        let SotienNdptn = document.getElementById("SotienNdptn");
        //let SotienNdptnthuc = document.getElementById("SotienNdptnthuc");
        //let checkSotienNdptn = document.getElementById("checkSotienNdptn");

        Formater = new Intl.NumberFormat('vi-VN');
        priceFormated = Formater.format(SotienNdptn.value);

        document.getElementById("SotienNdptnthuc").value = SotienNdptn.value;
        //đổi sau khi gán số không có dấu phẩy
        document.getElementById("SotienNdptn").value = priceFormated.replaceAll(".", ",");

    }
    function checkSotienThuNoKH() {


        let inputPrice = document.getElementById('SotienNdptn');
        let inputValueA = inputPrice.value;

        if (isNaN(inputValueA)) {
            inputPrice.value = inputValueA.slice(0, inputValueA.length - 1)

        }
        checkTheAmountEntered();
    }
    const checkTheAmountEntered = function () {
        let checkSotienNdptn = document.getElementById("checkSotienNdptn");
        checkSotienNdptn.innerText = "";//reset error
        let SotienNdptn = document.getElementById("SotienNdptn");
        let SotienNdptnthuc = document.getElementById("SotienNdptnthuc");

        let totalAmountReal = document.getElementById("totalAmountReal");//tong số tiền cần THU

        //const formNDTNNCC = document.getElementById("formNDTNNCC");
        const btnAddNdptnPBH = document.getElementById("btnAddNdptnPBH");
        const btnFinishNdptnPBH = document.getElementById("btnFinishNdptnPBH");
        const GhichuNdpt = document.getElementById("GhichuNdpt");
        const SoPhieuThu = document.getElementById("SoPhieuThu");
        const SotienNdptn = document.getElementById("SotienNdptn");
        const TaoPhieu = document.getElementById("TaoPhieu");

        SotienNdptnthuc = (SotienNdptn.value).replaceAll(",", "");
        SotienNdptn.style.border = "1px solid #ced4da";//reset border

        let TongTienDaThu = 0;
        let tr = document.querySelectorAll(".trNDTNKH");
        for (let i = 0; i <= tr.length - 1; i++) {

            TongTienDaThu += parseFloat((tr[i].children[1].innerText).replaceAll(",", ""));
            console.log((tr[i].children[1].innerText));
        }
        let Tienthu = Number(parseFloat(SotienNdptnthuc).toFixed(2));
        let Tiencanthu = Number(parseFloat((totalAmountReal.value)).toFixed(2));
        let Tiendathu = Number(parseFloat((TongTienDaThu).toFixed(2)));

        if (Tienthu > Tiencanthu || Tienthu + Tiendathu > Tiencanthu) {
            Formater = new Intl.NumberFormat('vi-VN');
            let TiencanthuFormated = (Formater.format(Tiencanthu)).replaceAll(".", ",");
            checkSotienNdptn.innerText = "Số tiền vượt quá số tiền cần thu! Cần thu thêm: " + TiencanthuFormated +"đ";
            btnAddNdptnPBH.disabled = true;
            SotienNdptn.style.border = "5px solid #C82333";
        }
        if (Tiendathu == Tiencanthu) {
            checkSotienNdptn.innerText = "Đã thanh toán đủ. Vui lòng nhấn nút 'Đã thanh toán'";

             SotienNdptn.readOnly = true;
             SoPhieuThu.readOnly = true;
             GhichuNdpt.readOnly = true;
             TaoPhieu.readOnly = true;
             btnFinishNdptnPBH.style.display = "";
             btnAddNdptnPBH.style.display = "none";

            console.log("Tiencantra: " + Tiencantra);
            console.log("Tiendathu: " + Tiendathu);
        }
         else if (Tienthu <= Tiencanthu) {
            heckSotienNdptn.innerText = "";
            btnAddNdptnPBH.disabled = false;
            SotienNdptn.style.border = "5px solid #218838";
             SotienNdptn.readOnly = false;
             SoPhieuThu.readOnly = false;
             GhichuNdpt.readOnly = false;
             TaoPhieu.readOnly = false;
            console.log("Tienthu: " + Tienthu);
            console.log("Tiencanthu: " + Tiencanthu);
        }
        //console.log("------------------------------------------------");
        //console.log("Tientra: " + Tientra);
        //console.log("Tiencantra: " + Tiencantra);
        //console.log("Tiendathanhtoan: " + Tiendathanhtoan);
        //console.log("------------------------------------------------");
        //console.log("toFixed(2)");
        //console.log("ThanhToanThuc: " + parseFloat((ThanhToanThuc.value)));
        //console.log("SotienNdptThuc: " + parseFloat(SotienNdptThuc).toFixed(2));
        //console.log("TongTienDaThanhtoan: " + parseFloat((TongTienDaThanhtoan.value)));
        //console.log("tr.length: " + tr.length);
    }

    let btnAddNdptnPBH = document.getElementById("btnAddNdptnPBH");
    let btnUpdateNdptnPBH = document.getElementById("btnUpdateNdptnPBH");
    let btnCancelNdptnPBH = document.getElementById("btnCancelNdptnPBH");
    function onEditNdptnKH(td) {
        document.getElementById("Ngaythuno").readOnly = false;

        selectedRow = td.parentElement.parentElement;
        document.getElementById("SotienNdptn").value = selectedRow.cells[1].innerHTML;
        document.getElementById("SotienNdptnthuc").value = (selectedRow.cells[1].innerHTML).replaceAll(",", "");

        if (selectedRow.cells[3].innerHTML != "") {
            var Ngaythuno = selectedRow.cells[3].innerHTML;
            document.getElementById("Ngaythuno").value = Ngaythuno;
        }
   
        document.getElementById("GhichuNdpt").value = selectedRow.cells[4].innerHTML;
        document.getElementById("IdntnkhEdit").value = selectedRow.cells[5].innerHTML;
        document.getElementById("SoPhieuThu").value = selectedRow.cells[6].innerHTML;
        document.getElementById("Idptnkh").value = selectedRow.cells[7].innerHTML;


       
        btnAddNdptnPBH.style.display = "none";
        btnUpdateNdptnPBH.style.display = "block";
        btnCancelNdptnPBH.style.display = "block";

    }
    btnUpdateNdptnPBH.addEventListener("click", function () {
        btnAddNdptnPBH.style.display = "block";
        btnUpdateNdptnPBH.style.display = "none";
        btnCancelNdptnPBH.style.display = "none";

    })
    btnCancelNdptnPBH.addEventListener("click", function () {
        btnUpdateNdptnPBH.style.display = "none";
        btnCancelNdptnPBH.style.display = "none";
        btnAddNdptnPBH.style.display = "block";
        document.getElementById("Ngaythuno").readOnly = true;

    })


    btnAddNdptnPBH.addEventListener("click", function () {
        action.value = "addItem";
    })
    btnUpdateNdptnPBH.addEventListener("click", function () {
        document.getElementById("Ngaythuno").readOnly = true;

        action.value = "editItem";
    })
</script>