@model QuanLySanXuat.Entities.Phieunhapkho
@using QuanLySanXuat.Entities;
@{
    Layout = "_Layout";
    ProductionManagementSoftwareContext _context = new ProductionManagementSoftwareContext();
    ////List<Nhanvien> nhanvien = _context.Nhanvien.Where(active => active.Active == 1).ToList();
    List<Vatlieu> vatlieu = _context.Vatlieu.Where(active => active.Active == 1).ToList();
    List<Nhacungcapvl> nhacungcap = _context.Nhacungcapvl.Where(n => n.Active == 1).ToList();
}
@*làm chuc nang sửa của phieu nhap va nhap vat lieu rieng*@


<form asp-action="Create" asp-controller="Noidungphieunhap" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @*<input type="hidden" asp-for="Idpnk" />*@
    <input type="hidden" value="@Model.Idpnk" asp-for="Idpnk" />

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row">

                <div class="form-group col-md-6 col-sm-3">
                    <label asp-for="Sophieu" class="control-label"></label>
                    <input asp-for="Sophieu" class="form-control" />
                    <span asp-validation-for="Sophieu" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 col-sm-3">
                    <label asp-for="Ngaylap" class="control-label"></label>
                    <input asp-for="Ngaylap" class="form-control" />
                    <span asp-validation-for="Ngaylap" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 col-sm-3">
                    <label asp-for="Sohd" class="control-label"></label>
                    <input asp-for="Sohd" class="form-control" />
                    <span asp-validation-for="Sohd" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 col-sm-3">
                    <label asp-for="Ngayhd" class="control-label"></label>
                    <input asp-for="Ngayhd" class="form-control" />
                    <span asp-validation-for="Ngayhd" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 col-sm-3">
                    <label class="control-label">Số lượng</label>
                    <input name="Soluong" type="number" required class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 col-sm-3">
                    <label class="control-label">Đơn giá nhập</label>
                    <input name="Dongia" type="number" required class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 col-sm-12">

                    <label for="exampleSelect1" class="control-label">Nhà cung cấp</label>
                    <select id="multipleSelect" asp-for="Idncc" placeholder="Chọn hãng sản xuất " data-search="true"
                            data-silent-initial-value-set="true">
                        @foreach (var item in nhacungcap)
                        {
                            <option value="@item.Idncc">@item.Tenncc</option>
                        }

                    </select>
                </div>
                <div class="form-group col-md-6 col-sm-3 d-none">
                    <label class="control-label">Nhân viên nhập</label>
                    <input asp-for="Idnv" type="text" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Ghichu" class="control-label"></label>
                    <textarea asp-for="Ghichu" class="form-control"></textarea>
                    <span asp-validation-for="Ghichu" class="text-danger"></span>
                </div>
            </div>


        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row">


                @*mỗi lần thêm thêm vào nội dung nhập kho cùng với khóa ngoại phiếu nhập (1 phiếu nhiều sp)*@
                <div class="form-group col-12">
                    <h4 class="control-label text-center">Danh sách vật liệu</h4>
                    <div class="row text-center">
                        <div class="col-4 text-center">
                            Mã vật liệu
                        </div>
                        <div class="col-4 text-center">
                            Tên vật liệu
                        </div>
                        <div class="col-4 text-center">
                            Thêm
                        </div>

                    </div>
                    <div style="height: 65vh; overflow-y: scroll;">
                        @foreach (var item in vatlieu)
                        {
                            <input type="hidden" value="@item.Idvl" name="Idvl" />

                            <div class="form-group p-2 mb-2" style="background-color: #abb2ab78; border-radius: 5px ">
                                <div class="p-1">
                                    <div class="row">
                                        <div class="col-md-10 col-sm-12">

                                            <div class="row">
                                                <div class="col-6">
                                                    @item.Mavl
                                                </div>
                                                <div class="col-6">
                                                    @item.Tenvl
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            <button type="submit" class="btn btn-info">
                                                <i class="fas fa-plus text-white"></i>
                                            </button>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        }
                    </div>


                </div>


            </div>
        </div>
    </div>

</form>
