@model QuanLySanXuat.Entities.Khachhang;
@using QuanLySanXuat.Entities;

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Thông tin cá nhân | Khách Hàng</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="~/CSS/main.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/mainsub.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

</head>

<body onload="time()" class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header">
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                        aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">


            <!-- User Menu-->
            <li>
                @Html.ActionLink("Đăng Xuất", "DangXuat", "Home", null, new { @class = "app-nav__item " })

            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar" src="~/Images/hien.jpg" style="width: 50px"
                 alt="User Image">
            <div class="text-white">
                <p class="app-sidebar__user-name text-white"><b>@Model.Tenkh</b></p>
                <p class="app-sidebar__user-designation text-white">Chào mừng bạn trở lại</p>
            </div>
        </div>
        <hr>
        <ul class="app-menu">
            <li>
                @Html.ActionLink("Theo Dõi Đơn Hàng", "PersonalOrderManament", "PersonalInformationManament", null, new { @class = "app-menu__item  app-menu__label text-center" })
            </li>
            <li>
                @Html.ActionLink("Lịch Sử Đơn Hàng", "OrderHistoryManament", "PersonalInformationManament", null, new { @class = "app-menu__item  app-menu__label text-center" })
            </li>
            <li>

                @Html.ActionLink("Thông Tin Cá Nhân", "PersonalBankManament", "PersonalInformationManament", null, new { @class = "app-menu__item haha app-menu__label text-center" })
            </li>
            <li>

                @Html.ActionLink("Tài Khoản Ngân Hàng", "Index", "Chitietnganhangkh", "Chitietnganhangkh", new { @class = "app-menu__item  app-menu__label text-center" })
            </li>


        </ul>
    </aside>
    <main class="app-content">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item active"><a href="#"><b>Thông tin cá nhân</b></a></li>
            </ul>
            <div id="clock"></div>
        </div>

        @*<div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">

                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Idctnhkh" value="@TempData["chitiet"]." />
                                    <div class="form-group col-md-3 col-sm-12">
                                        <label asp-for="Stk" class="control-label"></label>
                                        <input asp-for="Stk" class="form-control col-md-12" />
                                        <span asp-validation-for="Stk" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-12">
                                        <label class="control-label">Tên ngân hàng</label>
                                        <input name="TenNH" class="form-control col-md-12" />
                                        <span class="text-danger"></span>
                                    </div>


                                    <input type="hidden" asp-for="Nganhangidnh" />
                                    <input type="hidden" asp-for="Khachhangidkh" />
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </form>
                                @Html.ActionLink("Hủy bỏ", "PersonalBankManament", "PersonalInformationManament", null, new { @class = "btn btn-cancel " })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@


        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">


                        <form asp-action="Edit">
                            <h2 class="text-center">CẬP NHẬT THÔNG TIN CÁ NHÂN</h2>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Idkh" />
                            <div class="row">

                                <div class="form-group col-md-3 col-sm-12">
                                    <label asp-for="Makh" class="control-label"></label>
                                    <input asp-for="Makh" class="form-control col-md-12" />
                                    <span asp-validation-for="Makh" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label asp-for="Tenkh" class="control-label"></label>
                                    <input asp-for="Tenkh" class="form-control col-md-12" />
                                    <span asp-validation-for="Tenkh" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label asp-for="Sdt" class="control-label"></label>
                                    <input asp-for="Sdt" class="form-control col-md-12" />
                                    <span asp-validation-for="Sdt" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control col-md-12" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label asp-for="Diachi" class="control-label"></label>
                                    <input asp-for="Diachi" class="form-control col-md-12" />
                                    <span asp-validation-for="Diachi" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label asp-for="Masothue" class="control-label"></label>
                                    <input asp-for="Masothue" class="form-control col-md-12" />
                                    <span asp-validation-for="Masothue" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label asp-for="Ghichu" class="control-label"></label>
                                    <textarea asp-for="Ghichu" class="form-control"></textarea>
                                    <span asp-validation-for="Ghichu" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label asp-for="Gioitinh" class="control-label"></label><br />
                                    <select asp-for="Gioitinh" name="Gioitinh">
                                        <option value="Nam">
                                            NAM
                                        </option>
                                        <option value="Nữ">
                                            NỮ
                                        </option>
                                        <option value="Chưa xác định">
                                            CHƯA XÁC ĐỊNH
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <input type="hidden" asp-for="Nvidsale" class="form-control" />
                            <input type="hidden" asp-for="Active" class="form-control" />
                            @*<select asp-for="Accountidaccount" class="form-control d-none" asp-items="ViewBag.Accountidaccount"></select>*@


                            <BR>
                            <button class="btn btn-save" type="submit">Lưu lại</button>
                            @*<a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>*@
                            <BR>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:700px">
            <div class="modal-content " style="width:100%">

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12" style="height:60vh; overflow-y:scroll">

                            <h2 class="text-center">CẬP NHẬT THÔNG TIN CÁ NHÂN</h2>

                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Idkh" />
                                <div class="row">

                                    <div class="form-group col-md-3 col-sm-12">
                                        <label asp-for="Makh" class="control-label"></label>
                                        <input asp-for="Makh" class="form-control col-md-12" />
                                        <span asp-validation-for="Makh" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-12">
                                        <label asp-for="Tenkh" class="control-label"></label>
                                        <input asp-for="Tenkh" class="form-control col-md-12" />
                                        <span asp-validation-for="Tenkh" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-12">
                                        <label asp-for="Sdt" class="control-label"></label>
                                        <input asp-for="Sdt" class="form-control col-md-12" />
                                        <span asp-validation-for="Sdt" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-12">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control col-md-12" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-12">
                                        <label asp-for="Diachi" class="control-label"></label>
                                        <input asp-for="Diachi" class="form-control col-md-12" />
                                        <span asp-validation-for="Diachi" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-12">
                                        <label asp-for="Masothue" class="control-label"></label>
                                        <input asp-for="Masothue" class="form-control col-md-12" />
                                        <span asp-validation-for="Masothue" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-12">
                                        <label asp-for="Ghichu" class="control-label"></label>
                                        <textarea asp-for="Ghichu" class="form-control"></textarea>
                                        <span asp-validation-for="Ghichu" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-12">
                                        <label asp-for="Gioitinh" class="control-label"></label><br />
                                        <select asp-for="Gioitinh" name="Gioitinh">
                                            <option value="Nam">
                                                NAM
                                            </option>
                                            <option value="Nữ">
                                                NỮ
                                            </option>
                                            <option value="Chưa xác định">
                                                CHƯA XÁC ĐỊNH
                                            </option>
                                        </select>
                                    </div>
                                </div>


                                <input type="hidden" asp-for="Nvidsale" class="form-control" />
                                <input type="hidden" asp-for="Active" class="form-control" />
                                @*<select asp-for="Accountidaccount" class="form-control d-none" asp-items="ViewBag.Accountidaccount"></select>*@


                                <BR>
                                <button class="btn btn-save" type="submit">Lưu lại</button>
                                <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                                <BR>

                            </form>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="adddanhmuc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:700px">
            <div class="modal-content " style="width:100%">

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12" style="height:60vh; overflow-y:scroll">
                            <h2 class="thong-tin-thanh-toan text-center">Thêm mới nhóm sản phẩm</h2>

                            @using (Html.BeginForm("Create", "Nhomvatlieu"))
                            {
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group col-md-12">
                                    <label class="control-label">MÃ NHÓM VẬT LIỆU</label>
                                    <input class="form-control" type="text" required name="Mnvl">
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label">TÊN NHÓM VẬT LIỆU</label>
                                    <input class="form-control" type="text" required name="Tennvl">
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label">LOẠI VẬT LIỆU</label>
                                    <input class="form-control" type="text" required name="Loaivl">
                                </div>

                                <BR>
                                <button class="btn btn-save" type="submit">Lưu lại</button>
                                <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                                <BR>

                            }
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!--
    MODAL
    -->
    <!--
      MODAL HÃNG
    -->
    <div class="modal fade" id="addtinhtrang" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:700px">
            <div class="modal-content " style="width:100%">

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12" style="height:60vh; overflow-y:scroll">

                            <h2 class="thong-tin-thanh-toan text-center">Thêm mới hãng sản xuất</h2>
                            @using (Html.BeginForm("Create", "Hangsanxuat"))
                            {
                                <div class="form-group col-md-12">
                                    <label class="control-label">Nhập mã hãng</label>
                                    <input class="form-control w-100" type="text" required name="Mahsx">
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label">Nhập tên hãng</label>
                                    <input class="form-control" type="text" required name="Tenhsx">
                                </div>

                                <BR>
                                <button class="btn btn-save" type="submit">Lưu lại</button>
                                <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                                <BR>

                            }
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Essential javascripts for application to work-->
    <script src="~/Javascript/jquery-3.2.1.min.js"></script>
    <script src="~/Javascript/popper.min.js"></script>
    <script src="~/Javascript/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="src/jquery.table2excel.js"></script>
    <script src="~/Javascript/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- Data table plugin-->
    <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
    <script>
        function deleteRow(r) {
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById("myTable").deleteRow(i);
        }
        jQuery(function () {
            jQuery(".trash").click(function () {
                swal({
                    title: "Cảnh báo",

                    text: "Bạn có chắc chắn là muốn xóa nhân viên này?",
                    buttons: ["Hủy bỏ", "Đồng ý"],
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            swal("Đã xóa thành công.!", {

                            });
                        }
                    });
            });
        });
        oTable = $('#sampleTable').dataTable();
        $('#all').click(function (e) {
            $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
            e.stopImmediatePropagation();
        });

        //EXCEL
        // $(document).ready(function () {
        //   $('#').DataTable({

        //     dom: 'Bfrtip',
        //     "buttons": [
        //       'excel'
        //     ]
        //   });
        // });


        //Thời Gian
        function time() {
            var today = new Date();
            var weekday = new Array(7);
            weekday[0] = "Chủ Nhật";
            weekday[1] = "Thứ Hai";
            weekday[2] = "Thứ Ba";
            weekday[3] = "Thứ Tư";
            weekday[4] = "Thứ Năm";
            weekday[5] = "Thứ Sáu";
            weekday[6] = "Thứ Bảy";
            var day = weekday[today.getDay()];
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            nowTime = h + " giờ " + m + " phút " + s + " giây";
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }
            today = day + ', ' + dd + '/' + mm + '/' + yyyy;
            tmp = '<span class="date"> ' + today + ' - ' + nowTime +
                '</span>';
            document.getElementById("clock").innerHTML = tmp;
            clocktime = setTimeout("time()", "1000", "Javascript");

            function checkTime(i) {
                if (i < 10) {
                    i = "0" + i;
                }
                return i;
            }
        }
        //In dữ liệu
        var myApp = new function () {
            this.printTable = function () {
                var tab = document.getElementById('sampleTable');
                var win = window.open('', '', 'height=700,width=700');
                win.document.write(tab.outerHTML);
                win.document.close();
                win.print();
            }
        }
        //     //Sao chép dữ liệu
        //     var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

        // copyTextareaBtn.addEventListener('click', function(event) {
        //   var copyTextarea = document.querySelector('.js-copytextarea');
        //   copyTextarea.focus();
        //   copyTextarea.select();

        //   try {
        //     var successful = document.execCommand('copy');
        //     var msg = successful ? 'successful' : 'unsuccessful';
        //     console.log('Copying text command was ' + msg);
        //   } catch (err) {
        //     console.log('Oops, unable to copy');
        //   }
        // });


        //Modal
        $("#show-emp").on("click", function () {
            $("#ModalUP").modal({ backdrop: false, keyboard: false })
        });
    </script>
</body>

</html>