@model QuanLySanXuat.Entities.Noidungphieunhap

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Noidungphieunhap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dongia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dongia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhieunhapkhoidpnkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhieunhapkhoidpnkNavigation.Idpnk)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatlieuidvlNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatlieuidvlNavigation.Idvl)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idpnk" />
        <input type="hidden" asp-for="Vatlieuidvl" />
        <input type="hidden" asp-for="Phieunhapkhoidpnk" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
