@model IEnumerable<QuanLySanXuat.Entities.Noidungpnk>
@using QuanLySanXuat.Entities;
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dongia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdpnkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdvlNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in TempData["noidungphieunhap"] as List<Noidungpnk>) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dongia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdpnkNavigation.Ngaylap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdvlNavigation.Idvl)
            </td>
            <td>

            

                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                <a asp-action="Details" class="btn btn-info" asp-controller="Phieunhapkho" asp-route-pnkID="@item.Idpnk"><i class="fas fa-info text-white"></i></a>
                <a asp-action="Edit" class="btn btn-warning " asp-controller="Vatlieu" asp-route-pnkID="@item.Idpnk"><i class="fas fa-edit text-white"></i></a>
                <a asp-action="Delete" class="btn btn-danger " asp-controller="Vatlieu" asp-route-pnkID="@item.Idpnk"><i class="fas fa-trash-alt text-white"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
